# Ejemplo API sencilla

Pagina APIS publicas: https://github.com/public-apis/public-apis#finance

Primer ejemplo: econdb

# Consumer Price index

In [1]:
import pandas as pd

API_TOKEN = '97c58ad355a11b2f37569e6c27e07a0fb88fa640'

df = pd.read_csv(
    'https://www.econdb.com/api/series/URATEUS/?token=%s&format=csv' % API_TOKEN,
    index_col='Date', parse_dates=['Date'])

In [2]:
df

            URATEUS
Date
1948-01-01      3.4
1948-02-01      3.8
1948-03-01      4.0
1948-04-01      3.9
1948-05-01      3.5
...             ...
2022-11-01      3.6
2022-12-01      3.5
2023-01-01      3.4
2023-02-01      3.6
2023-03-01      3.5

[903 rows x 1 columns]

In [3]:
import pandas as pd

API_TOKEN = '9ef3a111f8a84eaf8fd190d66ff6f2dc271bf766'

df = pd.read_csv(
    'https://www.econdb.com/api/series/CPIUS/?token=%s&format=csv' % API_TOKEN,
    index_col='Date', parse_dates=['Date'])
df.head()

            CPIUS
Date
1947-01-01  21.48
1947-02-01  21.62
1947-03-01  22.00
1947-04-01  22.00
1947-05-01  21.95

In [2]:
df.tail()

            URATEUS
Date
2022-11-01      3.6
2022-12-01      3.5
2023-01-01      3.4
2023-02-01      3.6
2023-03-01      3.5

In [3]:
df.shape

(903, 1)

In [4]:
df=df.reset_index()
df.head()

        Date  URATEUS
0 1948-01-01      3.4
1 1948-02-01      3.8
2 1948-03-01      4.0
3 1948-04-01      3.9
4 1948-05-01      3.5

Crear en conexion de destino:

```SQL
create table cpi(
Date date,
CPIUS float
);
```

# Ejemplo API - transformacion

messari API: https://messari.io/api

In [4]:
import requests
requests.get?

Signature: requests.get(url, params=None, **kwargs)
Docstring:
Sends a GET request.

:param url: URL for the new :class:`Request` object.
:param params: (optional) Dictionary, list of tuples or bytes to send
    in the query string for the :class:`Request`.
:param \*\*kwargs: Optional arguments that ``request`` takes.
:return: :class:`Response <Response>` object
:rtype: requests.Response
File:      c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages\requests\api.py
Type:      function

In [5]:
import requests
import pandas as pd

url = "https://data.messari.io/api/v1/assets/bitcoin/metrics"
headers = {"Accept-Encoding": "gzip, deflate"}

response = requests.get(url, headers=headers)
print(response)
data = response.json()

#df = pd.DataFrame.from_dict(data['data']['market_data'], orient='index')
#print(df)

<Response [200]>

El `Accept-Encoding` header se usa por el cliente (en el caso de Python) para indicar los formatos de codificación que puede entender en la respuesta. Luego, el servidor puede comprimir la respuesta utilizando uno de los formatos enumerados antes de enviarla de vuelta al cliente, lo que puede ahorrar ancho de banda y mejorar el rendimiento.

En este caso, "gzip" y "deflate" son dos formatos de compresión populares que el cliente indica que puede manejar. El servidor puede optar por utilizar cualquiera de los formatos para comprimir la respuesta si los admite.

In [7]:
data.keys()

dict_keys(['status', 'data'])

In [8]:
data['status']

{'elapsed': 2, 'timestamp': '2023-05-09T01:20:27.853193597Z'}

In [9]:
data['status']['timestamp']

'2023-05-09T01:20:27.853193597Z'

In [11]:
data['data'].keys()

dict_keys(['id', 'serial_id', 'symbol', 'name', 'slug', 'contract_addresses', '_internal_temp_agora_id', 'market_data', 'marketcap', 'supply', 'blockchain_stats_24_hours', 'market_data_liquidity', 'all_time_high', 'cycle_low', 'token_sale_stats', 'mining_stats', 'developer_activity', 'roi_data', 'roi_by_year', 'risk_metrics', 'misc_data', 'reddit', 'on_chain_data', 'exchange_flows', 'miner_flows', 'supply_activity', 'supply_distribution', 'alert_messages'])

In [13]:
#datax = data['data']

In [12]:
datax = data['data']
dt = pd.DataFrame.from_dict(datax, orient='index')
dt

                                                                           0
id                                      1e31218a-e44e-4285-820c-8282ee222035
serial_id                                                               6057
symbol                                                                   BTC
name                                                                 Bitcoin
slug                                                                 bitcoin
contract_addresses                                                      None
_internal_temp_agora_id                 9793eae6-f374-46b4-8764-c2d224429791
market_data                {'price_usd': 27687.79287514858, 'price_btc': ...
marketcap                  {'rank': 1, 'marketcap_dominance_percent': 45....
supply                     {'y_2050': 20986335.65, 'y_plus10': 20726060.7...
blockchain_stats_24_hours  {'count_of_active_addresses': 764917, 'transac...
market_data_liquidity      {'clearing_prices_to_sell': None, 'marketcap':...
all_time_high              {'price': 68753.85761733251, 'at': '2021-11-10...
cycle_low                  {'price': 13701.040774823985, 'at': '2023-01-0...
token_sale_stats           {'sale_proceeds_usd': None, 'sale_start_date':...
mining_stats               {'mining_algo': 'SHA-256', 'network_hash_rate'...
developer_activity         {'stars': 69422, 'watchers': 3933, 'commits_la...
roi_data                   {'percent_change_last_1_week': -3.335149814159...
roi_by_year                {'2021_usd_percent': 57.15628017931246, '2020_...
risk_metrics               {'sharpe_ratios': {'last_30_days': 0.208557446...
misc_data                  {'private_market_price_usd': None, 'vladimir_c...
reddit                     {'active_user_count': 7518, 'subscribers': 494...
on_chain_data              {'addresses_count': 46603791, 'active_addresse...
exchange_flows             {'flow_in_exchange_native_units': 8499.2409800...
miner_flows                {'supply_1hop_miners_usd': 72840923810.85977, ...
supply_activity            {'supply_active_10y': 16510209.80313621, 'supp...
supply_distribution        {'supply_in_addresses_balance_greater_0_001_na...
alert_messages                                                          None

In [15]:
dt.loc['mining_stats'][0]

{'mining_algo': 'SHA-256',
 'network_hash_rate': '330951 PH/s',
 'available_on_nicehash_percent': 0.0398494413622155,
 '1_hour_attack_cost': None,
 '24_hours_attack_cost': None,
 'attack_appeal': None,
 'hash_rate': 355568839.3482855,
 'hash_rate_30d_average': 343548044.45848733,
 'mining_revenue_per_hash_usd': 1.047359e-06,
 'mining_revenue_per_hash_native_units': 3.6e-11,
 'mining_revenue_per_hash_per_second_usd': 0.090491806174,
 'mining_revenue_per_hash_per_second_native_units': 3.131263e-06,
 'mining_revenue_from_fees_percent_last_24_hours': 16.3582506623,
 'mining_revenue_native': 1113.37939172,
 'mining_revenue_usd': 32176066.491725832,
 'mining_revenue_total': 50372051144.17802,
 'average_difficulty': 48005534313578.78}

In [19]:
extract=dt.loc['mining_stats'][0]
e = pd.DataFrame.from_dict(extract, orient='index', columns=['value']).transpose().reset_index(drop=True)
e['Date'] = data['status']['timestamp']
e

,mining_algo,network_hash_rate,available_on_nicehash_percent,1_hour_attack_cost,24_hours_attack_cost,attack_appeal,hash_rate,hash_rate_30d_average,mining_revenue_per_hash_usd,mining_revenue_per_hash_native_units,mining_revenue_per_hash_per_second_usd,mining_revenue_per_hash_per_second_native_units,mining_revenue_from_fees_percent_last_24_hours,mining_revenue_native,mining_revenue_usd,mining_revenue_total,average_difficulty,Date
0,SHA-256,330951 PH/s,0.039849,None,None,None,355568839.348285,343548044.458487,0.000001,0.0,0.090492,0.000003,16.358251,1113.379392,32176066.491726,50372051144.178017,48005534313578.78125,2023-05-09T01:20:27.853193597Z

In [20]:
print(e.columns)

Index(['mining_algo', 'network_hash_rate', 'available_on_nicehash_percent',
       '1_hour_attack_cost', '24_hours_attack_cost', 'attack_appeal',
       'hash_rate', 'hash_rate_30d_average', 'mining_revenue_per_hash_usd',
       'mining_revenue_per_hash_native_units',
       'mining_revenue_per_hash_per_second_usd',
       'mining_revenue_per_hash_per_second_native_units',
       'mining_revenue_from_fees_percent_last_24_hours',
       'mining_revenue_native', 'mining_revenue_usd', 'mining_revenue_total',
       'average_difficulty', 'Date'],
      dtype='object')